<footer>
    <div class="container-footer-all"> 
  <div class="container-body">
  <div class="columna1">
    <img id="logo_footer" src="../../../assets/img/logo.png" alt="">
  </div>
  <div class="columna2">
    <h1>NUESTRAS REDES</h1>
    <br>
    <div class="row">
      <a href="https://www.facebook.com/bywstore.col/?modal=admin_todo_tour" target="blank_"> <img src="../../../assets/img/face.png" alt=""></a>
      <label for="">SIGUENOS EN FACEBOOK</label>
    </div>
    <div class="row">
      <a href="https://www.instagram.com/bywstore.colombia/?hl=es-la" target="blank_"> <img src="../../../assets/img/inst.png" alt=""></a>
      <label for="">SIGUENOS EN INSTAGRAM</label>
    </div>
  </div>
  <div class="columna3">
  <h1>CONTACTO</h1>
  <br>
  <div class="row">
  <a href="https://api.whatsapp.com/send?phone=573125442857&text=Hola%2C%20deseo%20informacion%20sobre%20la%20tienda%20de%20Bogota%20" target="blank_"><img src="../../../assets/img/whats.png" alt=""></a> 
  <label for="">3125442857</label>
  </div>
  <div class="row">
   <a href="https://www.google.com.co/maps/place/Tv.+71+Bis+%2375a-7,+Bogot%C3%A1/@4.6901931,-74.092008,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9b3cdd28a641:0xdb4691911fd93446!8m2!3d4.6901931!4d-74.0898193" target="blank_"><img src="../../../assets/img/oficina.png" alt=""></a>  
    <label for="">Tv.71 Bis # 75a-07 Bogota</label>
    </div>
    <div class="row">
      <a href="mailto:angie.a.tellez87@gmail.com"><img src="../../../assets/img/mail.png" alt=""></a>  
      <label for="">www.supercamello.com</label>
      </div>
  </div>
  
  </div>
  
  </div>
  
  </footer>
 
  

  <div class="btn-superman">
    <a href="mailto:angie.a.tellez87@gmail.com" target="_blank">
        <div *ngFor="let img of imagen">
            <img id="superm"  [src] = "img" />
        </div>
    </a>
  </div>
  
  
  
  