<div id="uno">
    <div id="dos">
    <div id="cargos"> <br>
    <h1>CARGO </h1> 
    <h2 class="car">{{ cargos.cargo1 }}  </h2> 
        <h2> 
         <br> DESCRIPCION DEL CARGO: Sera la persona <br> encargada de realizar 
         las pausas activas <br> dentro de la compañia. <br> <br>
         </h2> 
    </div>
    <div id="funciones">
        <h2>FUNCIONES:</h2>
        <ul>
            <li>Reunir periodicamente a los colaboradores para realizar pausas.</li>
            <li>Enseñar a los colaboradores la manera adecuada de realizar las pausas.</li>
            <li>Realizar diferentes actividades en pro del bienestar corporal y mental <br> de los participantes.</li>
            <li>Mantener base de datos actualizada con el seguimiento de cada persona.</li>
            <li>Hacer seguimiento en caso de accidente laboral.</li>
        </ul>
   <h2> HABILIDADES REQUERIDAS: </h2>
       <ul>
        <li>Vista laser y poder imnotico para evitar distracciones.</li>
        <li>Soltura de cadera y cintura para actividades de baile.</li>
        <li>Flexibilidad y elasticidad.</li>
    </ul>
    <h2>REFERENCIA CARGO:</h2>
</div>
<div *ngFor="let img of imagen1">
    <img id="img" width="300" [src] = "img" />
</div>
</div>
</div>
<br><br>

<div id="uno">
    <div id="dos">
    <div id="cargos"> <br>
    <h1>CARGO </h1> 
    <h2 class="car">{{ cargos.cargo2 }}  </h2> 
        <h2> 
         <br> DESCRIPCION DEL CARGO: Sera la persona <br> encargada de liderar 
         todas las actividades <br> de pereza y ocio dentro del hogar contratante. <br> <br>
         </h2> 
    </div>
    <div id="funciones">
        <h2>FUNCIONES:</h2>
        <ul>
            <li>Diseñar cuidadosamente las actividades de pereza y ocio para la familia.</li>
            <li>Reunir a los integrantes del hogar para realizar las actividades.</li>
            <li>Velar por el abastecimiento de provisiones adecuadas para dichas actividades. </li>
            <li>Garantizar la dotacion adecuada (cobijas, almohadas, entre otras).</li>
            <li>Crear un portafolio de peliculas y series segun requerimientos y especificaciones de la familia.</li>
        </ul>
   <h2> HABILIDADES REQUERIDAS: </h2>
       <ul>
        <li>Experiencia en plan arrunchis.</li>
        <li>Amplio conocimiento en ultimos lanzamientos de peliculas y series.</li>
        <li>Gran capacidad para hacer pereza.</li>
    </ul>
    <h2>REFERENCIA CARGO:</h2>
</div>
<div *ngFor="let img of imagen2">
    <img id="img" width="300" [src] = "img" />
</div>
</div>
</div> <br><br>


<div id="uno">
    <div id="dos">
    <div id="cargos"> <br>
    <h1>CARGO </h1> 
    <h2 class="car">{{ cargos.cargo4 }}  </h2> 
        <h2> 
         <br> DESCRIPCION DEL CARGO: Sera la persona <br> encargada de realizar 
         entregas y domicilios <br> via aerea. <br> <br>
         </h2> 
    </div>
    <div id="funciones">
        <h2>FUNCIONES:</h2>
        <ul>
            <li>Hacer entregas a las direcciones establecidas via aerea.</li>
            <li>Recibir pagos en efectivo de los clientes.</li>
        </ul>
   <h2> HABILIDADES REQUERIDAS: </h2>
       <ul>
        <li>Debe tener licencia aerea.</li>
        <li>Debe tener gps integrado.</li>
        <li>Ideal tener poder Flash para horas de alta demanda.</li>
    </ul>
    <h2>REFERENCIA CARGO:</h2>
</div>
<div *ngFor="let img of imagen4">
    <img id="img" width="300" [src] = "img" />
</div>
</div>
</div> <br><br>


<div id="uno">
    <div id="dos">
    <div id="cargos"> <br>
    <h1>CARGO </h1> 
    <h2 class="car">{{ cargos.cargo5 }}  </h2> 
        <h2> 
         <br> DESCRIPCION DEL CARGO: Sera la persona <br> encargada de espantar 
         y exterminar <br> ratones y otras plagas dentro de la compañia. <br> <br>
         </h2> 
    </div>
    <div id="funciones">
        <h2>FUNCIONES:</h2>
        <ul>
            <li>Hacer recorridos periodicos e inspecciones para identificar posibles  <br>
                areas con ratones y plagas dentro de las instalaciones de la compañia.</li>
            <li>Exterminar ratones y plagas.</li>
        </ul>
   <h2> HABILIDADES REQUERIDAS: </h2>
       <ul>
        <li>No debe temer a los ratones y plagas.</li>
        <li>Debe tener poder de super aliento.</li>
        <li>Su aspecto debe ser terrorifico.</li>
        <li>Ideal experiencia en exterminacion de aliens.</li>
    </ul>
    <h2>REFERENCIA CARGO:</h2>
</div>
<div *ngFor="let img of imagen5">
    <img id="img" width="300" [src] = "img" />
</div>
</div>
</div> <br><br>


<div id="uno">
    <div id="dos">
    <div id="cargos"> <br>
    <h1>CARGO </h1> 
    <h2 class="car">{{ cargos.cargo6 }} y {{ cargos.cargo7 }} </h2> 
        <h2> 
         <br> DESCRIPCION DEL CARGO: Seran las personas <br> encargadas de dirigir
         la academia <br> de baile de Tony Stark. <br> <br>
         </h2> 
    </div>
    <div id="funciones">
        <h2>FUNCIONES:</h2>
        <ul>
            <li>Crear las rutinas de enseñanza para cada grupo de estudiantes.</li>
            <li>Velar por el adecuado aprendizaje de los estudiantes.</li>
            <li>Evaluar el desempeño de los estudiantes.</li>
        </ul>
   <h2> HABILIDADES REQUERIDAS: </h2>
       <ul>
        <li>Deben tener poder de elasticidad.</li>
        <li>Deben tener poder imnotico para evitar distracciones.</li>
        <li>Deben tener soltura y swin.</li>
    </ul>
    <h2>REFERENCIA CARGO:</h2>
</div>
<div *ngFor="let img of imagen6">
    <img id="img" width="300" [src] = "img" />
</div>
<div *ngFor="let img of imagen7">
    <img id="img" width="300" [src] = "img" />
</div>
</div>
</div> <br><br>


<div id="uno">
    <div id="dos">
    <div id="cargos"> <br>
    <h1>CARGO </h1> 
    <h2 class="car">{{ cargos.cargo8 }}</h2> 
        <h2> 
         <br> DESCRIPCION DEL CARGO: Sera la persona <br> encargada de realizar
         actividades <br> de construccion variadas. <br> <br>
         </h2> 
    </div>
    <div id="funciones">
        <h2>FUNCIONES:</h2>
        <ul>
            <li>Debe realizar todas las actividades propias de la construccion.</li>
            <li>Seguir instrucciones del jefe de obra.</li>
            <li>Cumplir con los tiempos estipulados de entrega.</li>
        </ul>
   <h2> HABILIDADES REQUERIDAS: </h2>
       <ul>
        <li>Deben tener super poder de fuerza.</li>
        <li>Ideal tener el poder de magneto.</li>
    </ul>
    <h2>REFERENCIA CARGO:</h2>
</div>
<div *ngFor="let img of imagen8">
    <img id="img" width="300" [src] = "img" />
</div>
</div>
</div> <br><br>


<div id="uno">
    <div id="dos">
    <div id="cargos"> <br>
    <h1>CARGO </h1> 
    <h2 class="car">{{ cargos.cargo9 }}</h2> 
        <h2> 
         <br> DESCRIPCION DEL CARGO: Sera la persona <br> encargada de realizar
         consultas a <br> los pacientes del hospital Arkham, sera su guia y encargada<br>
         de su recuperacion. <br> <br>
         </h2> 
    </div>
    <div id="funciones">
        <h2>FUNCIONES:</h2>
        <ul>
            <li>Debe realizar consultas y seguimiento a los pacientes.</li>
            <li>Llevar historia clinica de cada paciente.</li>
            <li>Es la persona encargada de formular medicamentos.</li>
        </ul>
   <h2> HABILIDADES REQUERIDAS: </h2>
       <ul>
        <li>Debe tener amplia experiencia en psicologia.</li>
        <li>Debe ser una persona tranquila y que inspire mucha paz.</li>
        <li>Experiencia en tratamiento de pacientes psiquiatricos.</li>
    </ul>
    <h2>REFERENCIA CARGO:</h2>
</div>
<div *ngFor="let img of imagen9">
    <img id="img" width="300" [src] = "img" />
</div>
</div>
</div> <br><br>


<div id="uno">
    <div id="dos">
    <div id="cargos"> <br>
    <h1>CARGO </h1> 
    <h2 class="car">{{ cargos.cargo10 }}</h2> 
        <h2> 
         <br> DESCRIPCION DEL CARGO: Sera la persona <br> encargada de la maquetacion
         de las paginas web <br> de la compañia.<br><br>
         </h2> 
    </div>
    <div id="funciones">
        <h2>FUNCIONES:</h2>
        <ul>
            <li>Debe realizar apps moviles.</li>
            <li>Debe maquetar paginas web.</li>
        </ul>
   <h2> HABILIDADES REQUERIDAS: </h2>
       <ul>
        <li>Capacidad para analizar, diagnosticar y resolver problemas complejos.</li>
        <li>Debe teber capacidad para trabajar con equipos.</li>
        <li>Debe tener el super poder de la paciencia.</li>
        <li>Ideal tener el poder de leer la mente para saber que quiere el cliente.</li>
    </ul>
    <h2>REFERENCIA CARGO:</h2>
</div>
<div *ngFor="let img of imagen10">
    <img id="img" width="500" [src] = "img" />
</div>
</div>
</div> <br><br>

<h1>CASOS DE EXITO</h1>
<table>
    <tr>
        <td>
            <div *ngFor="let img of imagena">
                <img width="300" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenb">
                <img width="300" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenc">
                <img width="290" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagend">
                <img width="290" [src] = "img" />
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div *ngFor="let img of imagene">
                <img width="300" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenf">
                <img width="310" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imageng">
                <img width="310" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenh">
                <img width="310" [src] = "img" />
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div *ngFor="let img of imageni">
                <img width="300" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenj">
                <img width="300" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenk">
                <img width="300" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenl">
                <img width="290" [src] = "img" />
            </div>
        </td>
    </tr>


    <tr>
        <td>
            <div *ngFor="let img of imagenm">
                <img width="300" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenn">
                <img width="310" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenbb">
                <img width="310" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imageno">
                <img width="290" [src] = "img" />
            </div>
        </td>
    </tr>


    <tr>
        <td>
            <div *ngFor="let img of imagenp">
                <img width="300" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenr">
                <img width="300" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenq">
                <img width="290" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagens">
                <img width="290" [src] = "img" />
            </div>
        </td>
    </tr>


    <tr>
        <td>
            <div *ngFor="let img of imagent">
                <img width="300" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenu">
                <img width="300" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenv">
                <img width="290" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenw">
                <img width="300" [src] = "img" />
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div *ngFor="let img of imagenx">
                <img width="300" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imageny">
                <img width="300" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenz">
                <img width="290" [src] = "img" />
            </div>
        </td>
        <td>
            <div *ngFor="let img of imagenaa">
                <img width="290" [src] = "img" />
            </div>
        </td>
    </tr>
</table>

<h1 id="tu">TU PUEDES SER EL SIGUIENTE!!</h1>
