
<div class="row" id="quienes_somos">
    <h1> {{ titulos.titulo1 }} </h1>
    <div class="col"><p>Somos una agencia de empleo especializada en Superheroes, <br> ubicada en Colombia en diez de sus principales ciudades, <br> 
        contamos con una sede fisica en cada ciudad donde dedicamos <br> un espacio exclusivo para nuestros postulantes 
        y les brindamos <br> el servicio de entrenamiento para afinar sus habilidades <br> profesionales.
    </p> 
    <div *ngFor="let img of imagen">
        <img width="350" [src] = "img" />
</div>

<div class="row" id="quienes_somos">
    <h1> {{ titulos.titulo2 }} </h1>
    <div class="col"><p>Para nosotros lo mas importarte son nuestros postulantes<br> y velamos siempre por su comodidad, su tranquilidad, <br> 
        por su paz mental, pero sin dejar de lado la importancia <br> de la disciplina y el compromiso por lo cual tenemos <br> profesinales expertos en el area de docencia que se encargan <br> 
        de entrenar a nuestros postulantes siempre dispuestos a mantener <br> la calma y el optimismo en ellos, el equipo de entrenamiento esta <br> dirigido por el Dr. Bruce Banner quien es un experto
         <br> titulado en tacticas para canalizar la energia.
    </p> 
<div *ngFor="let img of imagen2">
    <img width="350" [src] = "img" />
</div>

<div class="row" id="quienes_somos">
    <h1> {{ titulos.titulo3 }} </h1>
    <div class="col"><p>Hemos planeado cuidadosamente variedad de actividades que nos<br> permiten crear equipos solidos y fortalecer la union <br> 
        entre los postulantes y nuestros colaboradores activos, <br> adicionalmente estas actividades nos permiten descubrir las  <br> 
        fortalezas de cada individuo y empezar a explorarlas y desarrollarlas <br> 
        mejorando desatacablemente su perfil y enfocando adecuadamente <br> los entrenamientos que se le brindaran, gracias a estas actividades <br> 
        e integraciones hemos logrado ubicar adecuada y satisfactoriamente a cada 
         <br> postulante en diferentes empleos, permitiendole mejorar su calidad de vida.
    </p> 
<div *ngFor="let img of imagen3">
    <img width="800" [src] = "img" />
</div>

<div class="row" id="quienes_somos">
    <h1> {{ titulos.titulo4 }} </h1>
    <div class="col"><p>Si te sientes preparado o preparada para vivir una experiencia<br> alucinante a nuestro lado, envianos tu hoja de vida, <br> 
        es muy sencillo simplemente clickea en el superheroe que vuela junto <br> a ti en nuestra pagina y envianos un correo electronico,  <br> 
        en breve te responderemos, alista tus super poderes y ... <br> 
    </p> 
<div *ngFor="let img of imagen4">
    <img width="300" [src] = "img" />
</div>


  

   
   

