<h1 id="titulo">NUESTRAS EMPRESAS ALIADAS</h1>

<table>
    <tr>
        <td>
<div *ngFor="let img of imagen8">
    <img width="290" [src] = "img" />
    <h1>{{ empresas.empresa8 }}</h1>
</div>
</td>
<td>
<div *ngFor="let img of imagen2">
    <img width="350" [src] = "img" />
    <h1>{{ empresas.empresa2 }}</h1>
</div>
</td>
<td>
    <div *ngFor="let img of imagen12">
        <img width="290" [src] = "img" />
        <h1>{{ empresas.empresa12 }}</h1>
    </div>
    </td>
</tr>

<tr>
    <td>
<div *ngFor="let img of imagen6">
<img width="300" [src] = "img" />
<h1>{{ empresas.empresa6 }}</h1>
</div>
</td>
<td>
<div *ngFor="let img of imagen3">
<img width="300" [src] = "img" />
<h1>{{ empresas.empresa3 }}</h1>
</div>
</td>
<td>
<div *ngFor="let img of imagen9">
    <img width="350" [src] = "img" />
    <h1>{{ empresas.empresa9 }}</h1>
</div>
</td>
</tr>

<tr>
    <td>
<div *ngFor="let img of imagen1">
<img width="300" [src] = "img" />
<h1>{{ empresas.empresa1 }}</h1>
</div>
</td>
<td>
<div *ngFor="let img of imagen7">
<img width="300" [src] = "img" />
<h1>{{ empresas.empresa7 }}</h1>
</div>
</td>
<td>
<div *ngFor="let img of imagen5">
    <img width="320" [src] = "img" />
    <h1>{{ empresas.empresa5 }}</h1>
</div>
</td>
</tr>

<tr>
    <td>
<div *ngFor="let img of imagen11">
<img width="270" [src] = "img" />
<h1 id="ciclope">{{ empresas.empresa11 }}</h1>
</div>
</td>
<td>
<div *ngFor="let img of imagen10">
<img width="220" [src] = "img" />
<h1>{{ empresas.empresa10 }}</h1>
</div>
</td>
<td>
<div *ngFor="let img of imagen13">
    <img width="300" [src] = "img" />
    <h1>{{ empresas.empresa13 }}</h1>
</div>
</td>
</tr>
</table>








